
body{
  padding:0;
  margin:50px 50px 50px 50px;
	background-color: #DDDADA;
  font-family: 'Lato', sans-serif;


label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
}

h1{
  font-color: red;
}


.table{
  border:2px solid red;
  padding:2px;
  width: 500px;
  height: 500px;

}

textarea{
  border:2px black;
  padding:2px;
  width: 500px;
  height: 100px;

}

span:hover + div {
    display: block;
}

.border
{
border-style:solid;
border-color:red;
}

.img {
  position:relative;
  top:0;
  bottom:0;

  min-width:400px;
  min-height:400px;
}


.drums{
  float:relative;
  position:relative;
  width:350px;
  height:300px;
}

}

.pic{
  float:right;
  position:relative;
  margin-right: 100px;
}



.table{
  border:2px solid red;
  padding:2px;
  width: 500px;
  height: 500px;

}

textarea{
  border:2px black;
  padding:2px;
  width: 500px;
  height: 100px;

}

.mynavbar {
  text-align:center;
}
.mynavbar .nav {
  float:none;
}
.mynavbar .nav li {
  display:inline-block;
  float:none;
  margin:20px 50px;
  vertical-align:middle;
}
.mynavbar .nav li a {
  border-radius:10px;
  background:blue;
  color:#fff;
}
.mynavbar .nav li a:hover {
  background:red
  ;
}

a:hover{
font-size:140%;
}
.navbar-brand {
  display:none
}
 @media screen and (max-width:700px) {
.navbar-brand {
  display:inline
}
.mynavbar .nav li {
  display:block;
  margin:0
}
.pic{
  float:right;
  position:relative;
  margin-right: 100px;
}
.div {
  background-color: blue;
    padding: 25px;
    display: none;
}

    .slider-holder
        {
            width: 800px;
            height: 400px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
        
        .image-holder
        {
            width: 2400px;
            background-color: red;
            height: 400px;
            clear: both;
            position: relative;
            
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
        
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
        
        .pic1:target ~ .image-holder
        {
            left: 0px;
        }
        
        .pic2:target ~ .image-holder
        {
            left: -800px;
        }
        
        .pic3:target ~ .image-holder
        {
            left: -1600px;
        }
        
        .button-holder
        {
            position: relative;
            top: -20px;
        }
        
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }